# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dbmdl
*.log

# Build results
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.app
*.appsettings.development.json
*.appsettings.local.json

# ASP.NET secrets
secrets.json
**/secrets.json

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/
.history/

# NuGet packages
*.nupkg
**/packages/*

# Publish folder (cuando haces dotnet publish)
publish/
app.publish/
**/wwwroot/lib/

# Docker
**/Dockerfile.develop
**/docker-compose.override.yml
**/docker-compose.override.*

# Logs
*.vsidx
*.swp
*.DS_Store
Thumbs.db
*.log
logs/
log/

# Rotativa PDFs temporales
wwwroot/Rotativa/temp/
